<h2 class="title is-2">Production Companies</h2>
<ol>
  <% @production_companies.each do | company| %>
    <li>
      <%= link_to company.name, company %>
      <em>(<%= pluralize company.movie_count, "Top Movie" %>)</em>
    </li>
  <% end %>
</ol>

<%= render partial: 'layouts/components/footer' %>
