<hr>
<footer>
  <p><em>Copywrong IMDB 2023 CTL</em></p>
  <ul class="mt-5">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Top 100 Movies", movies_path %></li>
    <li><%= link_to "Top Production_Companies", production_companies_path %></li>
  </ul>

</footer>